<!-- page extends to template.html -->
{% extends "template.html" %} {% block title %} Book an Appointment {% endblock %}

<!-- book an appointment page content -->
{% block content %}
<br/>
<h1>{% block header %} Book an Appointment {% endblock %}</h1>
<br/>

<form method="POST">
<label for="counsellor_id">Guidance Counsellor</label>

<select
    id="counsellor_id"
    name="counsellor_id"
    class="form-control"
    required>

    <option value="any">
        No preference (Any Guidance Counsellor)
    </option>

    {% for counsellor in counsellors %}
        <option value="{{ counsellor.id }}">
            {{ counsellor.fname }} {{ counsellor.lname }}
        </option>
    {% endfor %}
</select>
<br/>

<!--  -->
<label>Reason</label>
<input
    type="text"
    name="reason"
    class="form-control"
    required>
<br/>

<!--  -->
<label>Preferred Date</label>
<input
    type="date"
    name="preferred_date"
    class="form-control"
    required>
<br/>

<!--  -->
<label>Preferred Time</label>
<input
    type="time"
    name="preferred_time"
    class="form-control"
    required>
<br/>

<!--  -->
<label>Additional Notes</label>
<textarea
    name="notes"
    class="form-control"></textarea>
<br/>

<!--  -->
<div align="center">
    <button
        class="btn btn-primary"
        type="submit">
        Submit Request
    </button>
</div>
</form>

{% endblock %}