<!-- page extends to template.html -->
{% extends "template.html"%} {% block title %} Create Post {% endblock %}

<!-- create post page content -->
{% block content%} 
<div class="container my-4">
    
    <h1 align="center">Make a Post</h1> 

    <form method="POST">
        <!-- blog title form -->
        <label for="title">Post Title</label>
        <input type="text" id="title" name="title" class="form-control" placeholder="Enter Title" />
        <br/>
        <!-- blog post form -->
        <label for="title">Post Content</label>
        <textarea name="content" id="content" class="form-control" placeholder="Enter Text"></textarea>

    <br/>
    <!-- submit button -->
    <div align="center">
        <button class="btn btn-lg btn-primary" type="submit">Post</button>
    </div>
</form>
</div>

{% endblock %}