<!-- page extends to template.html -->
{% extends "template.html" %} {% block title %} Update User Permissions {% endblock %}

<!-- update role page content -->
{% block content %}
<div class="container">
<br/>
    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <div class="card mb-4">
                <div class="card-body">
                    <p><strong>Name:</strong>
                        {{ selected_user.fname }}
                        {{ selected_user.lname }}
                    </p>
                    <p><strong>Username:</strong>
                        {{ selected_user.username }}
                    </p>
                    <p><strong>Email:</strong>
                        {{ selected_user.email }}
                    </p>
                    <p class="mb-0">
                        <strong>Current Role:</strong>
                        {% if selected_user.role == "Student" %}
                            <span class="badge bg-success">Student</span>
                        {% elif selected_user.role == "Teacher" %}
                            <span class="badge bg-warning">Teacher</span>
                        {% else %}
                            <span class="badge bg-primary">Guidance Counsellor</span>
                        {% endif %}
                    </p>
                </div>
            </div>
            <!-- permission role form field -->
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Update User Permissions</legend>
                <div class="form-group">
                    {{ form.role.label(class="form-control-label") }}
                    {% if form.role.errors %}
                        {{ form.role(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.role.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>    
                    {% else %}
                        {{ form.role(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            </fieldset>
            <br/>
            <!-- Submit and back button -->
                <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }} 
                    <a href="/permissions">
                        <button class="btn btn-primary" type="button"> Back to Permissions </button>
                    </a> 
                </div>
        </form>    
    </div>
</div>
 {% endblock %}