:root{
    --navy: #2E5D9F;
    --blue: #5D8CC7;
    --seafoam: #e7f3fc;
    --light-blue: #F5FAFE;
    --cream: #FCFCFA;
    --text: #343A40;
    --danger: #C86B6B;

    --radius: 18px;
    --section-padding: 6rem;
} 


.navbar{
    background-color:var(--navy);
}

.navbar .nav-link,
.navbar .navbar-text {
    color: rgba(255,255,255,0.85);
    transition: 0.2s ease;
}

.navbar .nav-link.active{
    color: #FFFFFF;
    font-weight: 600;
    border-bottom: 2px solid var(--seafoam);
    padding-bottom: 4px;

}

.nav-link:hover{
    color: #D8E8E0 !important;
}

body{
    background-color: var(--cream);
    color: var(--text);
    font-family: 'Outfit', Arial, sans-serif;
}

h1,h2,h3{
    font-family: 'Nunito', Arial, sans-serif;
    font-weight: 700;
}

p{
    line-height:1.7;
}

.hero{
    background: #D9EAF7;
    min-height: 500px;
    display: flex;
    align-items: center;
}

.hero h1{
    color: var(--navy);
    font-family: 'Nunito', sans-serif;
    font-weight: 800;
    letter-spacing: -0.5px;
}

.hero p{
    max-width:700px;
    margin:auto;
}

.homepage-section{
    padding: 7rem 0;
}

.homepage-section h2{
    margin-bottom: 1rem;
}

.section{
    width: 100%;
}

.section-light{
    background-color: var(--cream);
}

.section-blue{
    background-color: var(--light-blue);
}

.section-seafoam{
    background-color: var(--seafoam);
}

.container {
    max-width: 1100px;
}

.card{
    border: none;
    border-radius: var(--radius);
    box-shadow: 0 4px 14px rgba(0,0,0,0.06);
    transition: transform 0.25s ease, box-shadow 0.25s ease;
}

.card:hover{
    transform: translateY(-4px);
    box-shadow: 0 8px 22px rgba(0,0,0,0.08);
}

.btn{
    border-radius: 30px;
    padding: .6rem 1.5rem;
    font-weight: 600;
    transition: .25s ease;
}

.btn-primary{
    background: var(--navy);
    border: none;
}

.btn-primary:hover{
    background:#3F74B7;
}

.btn-success{
    background:#6C98C9;
    border:none;
}

.btn-success:hover{
    background:#82A9D4;
}

.btn-outline-danger{
    border:2px solid var(--danger);
    color:var(--danger);
}

.btn-outline-danger:hover{
    background:var(--danger);
    color:white;
}